.category, .prompt, .answer, .buttons, .formElement, .links{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
}

.backbuttons{
    text-align: center;
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20%;
}

.links{
    padding: 5%;
}

.cards{
    text-align: center;
    border: solid 3px rgb(74, 105, 93);
    margin: auto;
    width: auto;
    padding: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}

.formElement{
    padding:3%;
    border: solid 3px rgb(74, 105, 93);
    font-size: 14pt;
}

.textbox{
    height: 30px;
    width: 400px;
    font-size: 12pt;
    margin-top: 3%;
}

.prompt, .answer{
    border: solid 3px rgb(74, 105, 93);
}

.answer{
    display: none;
}

button{
    background-color: rgb(74, 105, 93);
    color: black;
    padding: 4%;
    margin-left: 5%;
}

body{
    background-color: rgb(209, 229, 200);
}