.title, .prompt, .answer{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 25%;
}

.title{
    font-style: bold;
}

.prompt, .answer{
    border: solid 3px rgb(0, 183, 255);
}
